{% extends "layout.html" %}

{% block title %}
  {% if title %}
    {{ title }}
  {% else %}
    Blog-Posts
  {% endif %}
{% endblock title %}

{% block body %}
<h1 class="text-center p-4">Willkommen in der NBDF-Schlepp-App</h1>

<style media="screen">
  #under_construction_notification {
    color: red;
  }
</style>
<h1 id="under_construction_notification">DIESE SEITE BEFINDET SICH IN ENTWICKLUNG UND IST NICHT FÜR DIE ALLGEMEINE NUTZUNG BESTIMMT!</h1>

<!-- <p>Hier findest du aktuelle Informationen zum Schlepp-Betrieb in Siegritz</p> -->
{% endblock body %}
