.hoverable {
  background-color: inherit;
  box-shadow: inherit;
  transition-duration: 0.25s;
}

.hoverable:hover {
  background-color: rgba(196, 198, 198, 1);
  box-shadow: 0px 0px 30px 0px rgba(196, 198, 198, 0.8);
}

.hoverable.avaliable{
  background-color: rgba(38, 194, 129, 0.3);
}

.hoverable.avaliable:hover {
  background-color: rgba(38, 194, 129, 1);
  box-shadow: 0px 0px 30px 0px rgba(123, 239, 178, 0.8);
}

.hoverable.blocked {
  background-color: rgba(242, 38, 19, 0.3);
}

.hoverable.blocked:hover {
  background-color: rgba(242, 38, 19, 1);
  box-shadow: 0px 0px 20px 0px rgba(231, 76, 60, 0.8);
}

.calendar {
  text-align: center;
}

.calendar td {
  padding: 3px;
  margin: 0;
}

.calendar-cell {
  background-color: gray;
}

.calendar-cell.Samstag {
  background-color: orange;
  border-radius: 5%;
}

.calendar-cell.Sonntag {
  background-color: green;
}

.calendar-cell.empty {
  background-color: white;
}

.calendar-cell.month, .calendar-cell.day-col {
  background-color: lightgrey;
}

.calendar-cell:hover {
  transition: 0.1s;
  background-color: brown;
  border-radius: 10%;
}

.list-group {
  text-align: center;
}

.full-width {
  width: 100vw;
  width: 100%;
}

.background-weather {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  width: 100vw;
  height: 100vh;
}

.background-opake {
  transition-duration: 0.2s;
  background-color: rgba(191, 183, 165, 0.2)
}

.background-opake:hover {
  transition-duration: 0.2s;
  background-color: rgba(191, 183, 165, 0.3);
}
