<header class="site-header">
  <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
    <div class="container">
      <a class="navbar-brand mr-4" href="/">NBDF</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarToggleExternalContent"
        aria-controls="navbarToggleExternalContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent">
        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" href="#Schleppinfo">Siegritz aktuell</a>
          <a class="nav-item nav-link" href="{{ url_for('schleppinfo') }}"
            >Schleppinfo Siegritz</a
          >
          {% if current_user %} {% if current_user.is_authenticated %}
          <a class="nav-item nav-link" href="#persönlicher_schleppkalender"
            >Schleppkalender</a
          >
          <a class="nav-item nav-link" href="{{ url_for('example') }}">Test</a>
          {% else %}
          <a class="nav-item nav-link" href="{{ url_for('calendar') }}"
            >Schleppkalender</a
          >
          {% endif %} {% endif %}
          <a class="nav-item nav-link" href="{{ url_for('about') }}">Kontakt</a>
        </div>
        <!-- Navbar Right Side --->
        <div class="navbar-nav">
          {% if current_user %} {% if current_user.is_authenticated %}
          <a class="nav-item nav-link" href="{{ url_for('account') }}"
            >Profil</a
          >
          <a class="nav-item nav-link" href="{{ url_for('logout') }}">Logout</a>
          {% else %}
          <a class="nav-item nav-link" href="{{ url_for('login') }}">Login</a>
          <a class="nav-item nav-link" href="{{ url_for('register') }}"
            >Anmelden</a
          >
          {% endif %} {% endif %}
        </div>
      </div>
    </div>
  </nav>
</header>
